[Unit]
Description=Nextcloud desktop client

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run com.nextcloud.desktopclient.nextcloud
ExecStop=/usr/bin/flatpak kill com.nextcloud.desktopclient.nextcloud
Restart=always

[Install]
WantedBy=default.target